<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  
  <!-- CONEXAO LOCAL-->
    <connectionStrings>
        <add name="SistemaVB.My.MySettings.sistemavbConnectionString"
            connectionString="Data Source=DESKTOP-THHNDIF\SQLEXPRESS;Initial Catalog=sistemavb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SistemaVB.My.MySettings.sistemavbConnectionString1"
            connectionString="Data Source=DESKTOP-VA5UM3C;Initial Catalog=sistemavb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>  


  <!-- CONEXAO HOSPEDADA-->
  <!-- <connectionStrings>
        <add name="SistemaVB.My.MySettings.sistemavbConnectionString"
            connectionString="Data Source=mssql914.umbler.com,5003;Initial Catalog=sistemavb;User=hugosistemavb; password=sistemavbhugo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
  
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
